@import '../../styles/variables.scss';


.header {
  background-color: $primary-color;
  @include flex-center;
}

.nav {
  display: flex;
  gap: 1rem;
}

.link {
  color: white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}